@mixin flex($direction, $justify-content: center, $align-items:center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    @include flex(column);
}

header, main, footer {
    width: 1100px; //large screen (max width)

    @media screen and (min-width: 700px) and (max-width: 1300px) { //medium screen
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }

    @media screen and (max-width: 700px) { //small screen
        padding-left: 10px;
        padding-right: 10px;
        width: 100vw;
    }
    
}

header{
    position: relative;
    height: 80px;
    background-color: blue;
}
main{
    height: 100%;
    background-color: lightblue;
}
footer{
    height: 200px;
    background-color: darkblue;
}



nav {
    background-color: green;
    @include flex(row, end, end);
    gap: 50px;
    height: 100%;
    width: 100%;
    @media screen and (max-width: 700px) { //nav from click on burger-menu
        opacity: 0;
        visibility: hidden;
        padding: 80px 30px 30px;
        position: absolute;
        top: 20px;
        left: 10px;
        width: 200px;
        height: auto;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 50px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 3;
    }
}
#home-button {
    margin-right: auto;
    height: 1.8rem;
    font-size: 1.6rem;
    text-shadow: 0px 4px 10px rgb(46, 46, 46);
    position: relative;
    @media screen and (max-width: 700px) { //vises ikke når burger-menu vises
        display: none;
    }
}
#home-text {
    @media screen and (min-width: 700px) { //vises ikke når burger-menu ikke vises
        display: none;
    }
}


#burger-menu {
    font-size: 2rem;
    @media screen and (max-width: 700px) {
        display: block;
    }
}
#burger-menu-x { 
    font-size: 2.2rem;
}
#burger-menu, #burger-menu-x {
    display: none;
    color: #fbf9f0;
    position: absolute;
    top: 30px;
    left: 20px;
    text-shadow: 0px 4px 10px rgb(46, 46, 46);
    cursor: pointer;
    z-index: 4;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.2);
    }
}